<div class="container-fluid team">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>Team</h1>
    <button class="btn">Add New Member</button>
  </div>
  <div class = "team-list row g-4">
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card team-member">
        <div class="card-body">
          <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
          <p class="text-name">Jason Price</p>
          <p class="text-role">Admin</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card team-member">
        <div class="card-body">
          <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
          <p class="text-name">Jason Price</p>
          <p class="text-role">Admin</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card team-member">
        <div class="card-body">
          <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
          <p class="text-name">Jason Price</p>
          <p class="text-role">Admin</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card team-member">
        <div class="card-body">
          <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
          <p class="text-name">Jason Price</p>
          <p class="text-role">Admin</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <div class="card team-member">
        <div class="card-body">
          <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
          <p class="text-name">Jason Price</p>
          <p class="text-role">Admin</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
        </div>
      </div>
    </div>
  </div>
</div>