.product-stocks{
  padding: 30px;
  h1{
    color: #202224;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.114px;
    margin-bottom: 27px;
  }
  .search-wrapper{
    .search-box{
      background-color: #FFF;
      border-radius: 19px;
      i{
        color: #202224;
        font-size: 15px;
        font-weight: 400;
        position: absolute;
        padding: 0px 15px;
      }
      .search-input{
        color: #202224;
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
        padding-left: 35px;
        border-radius: 19px;
        border: 0.6px solid #D5D5D5;
        background: #FFF;
      }
    }
  }

  .product-stock-table{
    table{
      width: 100%;
      border-collapse: separate;
      border-spacing: 0; 

      thead{
        th{
          font-size: 14px;
          font-weight: 700;
          padding: 16px 25px; 
          text-align: left;
          &:first-child {
            border-top-left-radius: 12px;
          }
  
          &:last-child {
            border-top-right-radius: 12px;
          }
        }
      }

      tbody{
        tr{
          td{
            vertical-align: middle;
            color: #202224;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 25px;
            img{
              width: 60px;
              height: 60px;
              border-radius: 10%;
            }

            .color-picker {
              display: flex;
              gap: 10px;
            }
            
            .color-swatch {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              cursor: pointer;
              transition: border 0.2s;
            }
            
            .color-swatch:hover {
              border: 2px solid #000;
            }
            .action{
              border: 1px solid #D5D5D5;
              width: fit-content;
              border-radius: 10px;
              .btn{
                &:first-child {
                  border-right: 1px solid #D5D5D5;
                  border-radius: 0%;
                  color: #848e99;
                }
                &:last-child {
                  border-radius: 0% 10px 10px 0%;
                  color:red;
                }
              }
            }
          }     
        }
        tr:last-child td:last-child {
          border-bottom-right-radius: 12px;
        }
        tr:last-child td:first-child {
          border-bottom-left-radius: 12px;
        }     
      }
    }
  }
}