<div class="container-fluid invoice">
  <h1>
    Invoice
  </h1>

  <div class="invoice-body">
    <div class="row invoice-header">
      <div class="col-12 col-md-6 col-lg-4">
        <p class="invoice-from">Invoice From :</p>
        <p class="invoice-from-name">Virginia Walker</p>
        <p class="invoice-address">9694 Krajcik Locks Suite 635</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <p class="invoice-to">Invoice To :</p>
        <p class="invoice-to-name">Austin Miller</p>
        <p class="invoice-form">Brookview</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <p class="invoice-date">Invoice Date : 12 Nov 2019</p>
        <p class="due-date">Due Date : 25 Dec 2019</p>
      </div>
    </div>
    <div class= "table-responsive invoice-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Base Cost</th>
            <th>Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Product 1</td>
            <td>2</td>
            <td>$100</td>
            <td>$200</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Product 2</td>
            <td>3</td>
            <td>$200</td>
            <td>$600</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Product 3</td>
            <td>1</td>
            <td>$300</td>
            <td>$300</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"></td>
            <td class="fw-bold text-center">Total  =  $1100</td>
          </tr>
        </tfoot>
      </table>
      <div class="invoce-action d-flex justify-content-end align-items-center">
        <button class="btn-printer">
         <i class="bi bi-printer-fill"></i>
        </button>
        <button class="btn-send d-flex justify-content-center align-items-center">
          <p>Send</p>
          <i class="bi bi-send d-flex justify-content-center align-items-center"></i>
        </button>
      </div>
    </div>
  </div>
</div>
