<div class="container-fluid contact">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>Contact</h1>
    <button class="btn">Add New Contact</button>
  </div>
  <div class="contact-list row g-4">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="text-name">Jason Price</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
          <button class="btn">
            <i class="bi bi-envelope"></i>
            Message
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="text-name">Jason Price</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
          <button class="btn">
            <i class="bi bi-envelope"></i>
            Message
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="text-name">Jason Price</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
          <button class="btn">
            <i class="bi bi-envelope"></i>
            Message
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://www.digital38.com.vn/wp-content/uploads/2021/01/nhiep-anh-gia-chanh-nguyen.-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="text-name">Jason Price</p>
          <p class="text-email">kuhlman.jermey@yahoo.com</p>
          <button class="btn">
            <i class="bi bi-envelope"></i>
            Message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>