<div class="container-fluid pricing">
  <h1>
    Pricing
  </h1>
  <div class="pricing-container row g-4">
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
         <div class="card-header">
            <h5 class="card-title">Basic</h5>
            <p class="card-text">Monthly Charge</p>
            <p class="card-price">$14.99</p>
         </div>
         <div class="card-body-body">
            <p class="card-text active">Free Setup</p>
            <p class="card-text active">Bandwidth Limit 10 GB</p>
            <p class="card-text active">20 User Connection</p>
            <p class="card-text">Analytics Report</p>
            <p class="card-text">Public API Access</p>
            <p class="card-text">Plugins Intregation</p>
            <p class="card-text">Custom Content Management</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-primary d-block mb-2">Get Started</a>
            <a href="#" class="d-block link">Start Your 30 Day Free Trial</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
         <div class="card-header">
            <h5 class="card-title">Basic</h5>
            <p class="card-text">Monthly Charge</p>
            <p class="card-price">$14.99</p>
         </div>
         <div class="card-body-body">
            <p class="card-text active">Free Setup</p>
            <p class="card-text active">Bandwidth Limit 10 GB</p>
            <p class="card-text active">20 User Connection</p>
            <p class="card-text active">Analytics Report</p>
            <p class="card-text active">Public API Access</p>
            <p class="card-text">Plugins Intregation</p>
            <p class="card-text">Custom Content Management</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-primary d-block mb-2">Get Started</a>
            <a href="#" class="d-block link">Start Your 30 Day Free Trial</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
         <div class="card-header">
            <h5 class="card-title">Basic</h5>
            <p class="card-text">Monthly Charge</p>
            <p class="card-price">$14.99</p>
         </div>
         <div class="card-body-body">
            <p class="card-text active">Free Setup</p>
            <p class="card-text active">Bandwidth Limit 10 GB</p>
            <p class="card-text active">20 User Connection</p>
            <p class="card-text active">Analytics Report</p>
            <p class="card-text active">Public API Access</p>
            <p class="card-text active">Plugins Intregation</p>
            <p class="card-text active">Custom Content Management</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-outline-primary d-block mb-2">Get Started</a>
            <a href="#" class="d-block link">Start Your 30 Day Free Trial</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>