<div class="container-fluid to-do">
  <div class="header d-flex justify-content-between align-items-center">
    <h1>To-Do List</h1>
    <button class="btn">Add New Task</button>
  </div>
  <div class="to-do-list">
    <div class="card to-do-item active">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="card to-do-item">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="card to-do-item">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="card to-do-item">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="card to-do-item">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="card to-do-item">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="form-check d-flex align-items-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Meeting with CEO
          </label>
        </div>
        <div class="to-do-actions">
          <i class="bi bi-star"></i>
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>