<div class="container-fluid product-stocks">
  <h1 class="product-stocks-title d-flex justify-content-between align-items-center">
    Product Stocks
    <div class="search-wrapper d-none d-md-block">
      <div class="search-box d-flex align-items-center">
        <i class="bi bi-search icon-search"></i>
        <input type="text" class="form-control search-input" placeholder="Search product name">
      </div>
    </div>
  </h1>

  <div class="product-stock-table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Piece</th>
          <th>Available Color</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
    <!-- Row 1 -->
          <tr>
            <td>
              <img src="https://product.hstatic.net/1000259254/product/apple_watch_se-1_43396ce88b3948d1a873cb7fdd4c005e_master.jpg" alt="product-image" class="product-image">
            </td>
            <td>Apple Watch SE</td>
            <td>Electronics</td>
            <td>$399</td>
            <td>10</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #FF0000;" onclick="selectColor('#FF0000')"></div>
                <div class="color-swatch" style="background-color: #00FF00;" onclick="selectColor('#00FF00')"></div>
                <div class="color-swatch" style="background-color: #0000FF;" onclick="selectColor('#0000FF')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 2 -->
          <tr>
            <td>
              <img src="https://svstore.vn/uploads/source/apple-watch-ultra/mqdy3ref-vw-34fr-watch-49-titanium-ultra-vw-34fr-wf-co-watch-face-49-alpine-ultra-vw-34fr-wf-co-2.jpg" alt="product-image" class="product-image">
            </td>
            <td>Samsung Galaxy Buds</td>
            <td>Accessories</td>
            <td>$129</td>
            <td>25</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #000000;" onclick="selectColor('#000000')"></div>
                <div class="color-swatch" style="background-color: #FFFFFF;" onclick="selectColor('#FFFFFF')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 3 -->
          <tr>
            <td>
              <img src="https://images-na.ssl-images-amazon.com/images/I/51I1QoWjX3L.jpg" alt="product-image" class="product-image">
            </td>
            <td>Nike Running Shoes</td>
            <td>Footwear</td>
            <td>$89</td>
            <td>50</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #FF5733;" onclick="selectColor('#FF5733')"></div>
                <div class="color-swatch" style="background-color: #C70039;" onclick="selectColor('#C70039')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 4 -->
          <tr>
            <td>
              <img src="https://cdn.vuahanghieu.com/unsafe/0x900/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2022/12/dong-ho-thong-minh-apple-watch-s8-lte-41mm-day-thep-mau-den-6389ae9071d7e-02122022145144.jpg" alt="product-image" class="product-image">
            </td>
            <td>Levi's Denim Jacket</td>
            <td>Clothing</td>
            <td>$120</td>
            <td>15</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #1C2833;" onclick="selectColor('#1C2833')"></div>
                <div class="color-swatch" style="background-color: #566573;" onclick="selectColor('#566573')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 5 -->
          <tr>
            <td>
              <img src="https://cdn.tgdd.vn/Products/Images/7077/314708/s16/apple-watch-s9-45mm-vien-nhom-day-silicone-do-thumb-650x650.png" alt="product-image" class="product-image">
            </td>
            <td>Canon EOS 80D</td>
            <td>Cameras</td>
            <td>$999</td>
            <td>5</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #F1C40F;" onclick="selectColor('#F1C40F')"></div>
                <div class="color-swatch" style="background-color: #E67E22;" onclick="selectColor('#E67E22')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 6 -->
          <tr>
            <td>
              <img src="https://via.placeholder.com/100x100.png?text=Product+6" alt="product-image" class="product-image">
            </td>
            <td>HP Spectre x360</td>
            <td>Computers</td>
            <td>$1,299</td>
            <td>8</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #34495E;" onclick="selectColor('#34495E')"></div>
                <div class="color-swatch" style="background-color: #2ECC71;" onclick="selectColor('#2ECC71')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 7 -->
          <tr>
            <td>
              <img src="https://product.hstatic.net/200000850199/product/2_adb8d999cf4946c9a18a9eb7f0c2f891_e14b60e2a1224aef82471f9a89778171_large.jpg" alt="product-image" class="product-image">
            </td>
            <td>Adidas Soccer Ball</td>
            <td>Sports</td>
            <td>$29</td>
            <td>30</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #2980B9;" onclick="selectColor('#2980B9')"></div>
                <div class="color-swatch" style="background-color: #8E44AD;" onclick="selectColor('#8E44AD')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 8 -->
          <tr>
            <td>
              <img src="https://cdn.tgdd.vn/Products/Images/7077/289612/s16/apple-watch-se-2022-gps-40mm-trang-kem-thumbtz-1-2-1-650x650.png" alt="product-image" class="product-image">
            </td>
            <td>Sony WH-1000XM4</td>
            <td>Audio</td>
            <td>$349</td>
            <td>20</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #7F8C8D;" onclick="selectColor('#7F8C8D')"></div>
                <div class="color-swatch" style="background-color: #BDC3C7;" onclick="selectColor('#BDC3C7')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 9 -->
          <tr>
            <td>
              <img src="https://didongmango.com/images/products/2023/05/10/large/tt_1683696718.png" alt="product-image" class="product-image">
            </td>
            <td>Dell XPS 13</td>
            <td>Computers</td>
            <td>$1,099</td>
            <td>12</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #1ABC9C;" onclick="selectColor('#1ABC9C')"></div>
                <div class="color-swatch" style="background-color: #16A085;" onclick="selectColor('#16A085')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
          <!-- Row 10 -->
          <tr>
            <td>
              <img src="https://www.wareable.com/wp-content/uploads/sites/6/2024/08/best-apple-watch-apps-main-image-820x461.jpg" alt="product-image" class="product-image">
            </td>
            <td>Google Pixel Buds</td>
            <td>Electronics</td>
            <td>$179</td>
            <td>18</td>
            <td>
              <div class="color-picker">
                <div class="color-swatch" style="background-color: #D35400;" onclick="selectColor('#D35400')"></div>
                <div class="color-swatch" style="background-color: #E74C3C;" onclick="selectColor('#E74C3C')"></div>
              </div>
            </td>
            <td>
              <div class="action d-flex justify-content-center align-items-center">
                <a href="#" class="btn"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn"><i class="bi bi-trash3"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>