<div class="container-fluid favorites">
  <h1>Favorites</h1>
  <div class="row g-4">
    <div class="col-md-6 col-lg-3 ">
      <div class="card">
        <img src="https://clickbuy.com.vn/uploads/pro/2_52400.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title">Apple Watch Series 4</h5>
              <p class="card-text">$120.00</p>
            </div>
            <i class="bi bi-suit-heart-fill"></i>
          </div>
          <a href="#" class="btn btn-primary">Edit Product</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 px-3">
        <div class="card">
          <img src="https://clickbuy.com.vn/uploads/pro/2_52400.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">Apple Watch Series 4</h5>
                <p class="card-text">$120.00</p>
              </div>
              <i class="bi bi-suit-heart-fill"></i>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 px-3">
        <div class="card">
          <img src="https://www.didongmy.com/vnt_upload/product/09_2024/thumbs/600_apple-watch-series-10-46mm-vien-nhom-day-cao-su-thumb-600x600.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">Apple Watch Series 4</h5>
                <p class="card-text">$120.00</p>
              </div>
              <i class="bi bi-suit-heart-fill"></i>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 px-3">
        <div class="card">
          <img src="https://product.hstatic.net/200000785683/product/tblack-nc-s10_vw_34fr_watch-face-42-aluminum-jetblack-s10_vw_34fr_copy_d4ea3dc1640d454f92de89a64b2c3a1b_master.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">Apple Watch Series 4</h5>
                <p class="card-text">$120.00</p>
              </div>
              <i class="bi bi-suit-heart-fill"></i>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 px-3">
        <div class="card">
          <img src="https://clickbuy.com.vn/uploads/pro/2_52400.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">Apple Watch Series 4</h5>
                <p class="card-text">$120.00</p>
              </div>
              <i class="bi bi-suit-heart-fill"></i>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

  </div>
</div>